* {
    margin: 0;
  }
  
   
  #navbar {
    top: 0;
      width: 100%;
      position: fixed;
    background-color: #bcbcb8;
    height: 40px;
  }
  
  #navbar li {
    list-style-type: none;
    padding: .55em;
  }
  
  #welcome-section {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2def2;
  }
  
  
  
  nav ul {
     display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  
  #projects {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edc39e;
  }

  #projects1 {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edc39e;
  }
  
  #projects a {
    padding: 2em;
  }
  
  .mycolumn {
    text-align: center;
  }
    
    


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.card li {
  list-style: none;
}



.card {
  margin: 10px;
  color: #0b46a5;
  background-color: #ffdf0f !important;
}

.darth, .ship {
  width: auto;
  height: auto;
  padding-bottom: 10px;
}

.clearfix {
  clear: both;
}
