* {
    margin: 0;
  }
  
  body.sterwers {
    background-color: #c9d0d3;
  }
   
  #navbar {
    top: 0;
      width: 100%;
      position: fixed;
    background-color: #bcbcb8;
    height: 40px;
    z-index:1;
  }
  
  #navbar li {
    list-style-type: none;
    padding: .55em;
  }
  
  #welcome-section {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2def2;
  }
  
  
  
  nav ul {
     display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  
  #projects {
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edc39e;
  }

  #projects1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #edc39e;
  }
  
  #projects a {
    padding: 2em;
  }
  
  .mycolumn {
    text-align: center;
  }
    
    


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}

.card li {
  list-style: none;
}



/**.card {
  margin: 10px;
  color: #0b46a5;
  background-color: #ffdf0f !important;
}**/

.darth, .ship {
  width: auto;
  height: auto;
  padding-bottom: 10px;
}

.clearfix {
  clear: both;
}

div.first25, div.back-card {
  display: flex;
  flex-direction: row;
 flex-wrap: wrap;
} 


.first25 img {
  
  width: 200px;
  height: 275px;
  text-align: center;
}

.first25 figcaption {
  background-color: #ffd700;
  text-align: center;
  padding: 5px;
  font-weight: 700;
}

.first25 figure {
 margin: 10px;
}

.back-card li {
  list-style-type: none;
}


.card-body figure {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.card-body figure img {
  width: 100%;
}

.card {
  width: 301px;
  height: 425px;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  margin: 10px;
  background-color: #ffd700;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  height: auto;
}

.sterwers .card {
  width: 301px;
  height: 425px;
  transition: transform 2s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  margin: 10px;
  background-color: #ffd700;
  text-align: center;
  padding: 5px;
  font-weight: 700;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  
  backface-visibility: hidden;
}


.card__face--back {
  
  transform: rotateY(180deg);
  text-align: center;
  padding: 10px;
  margin: 0;
}

.card__face--back ul {
 padding-left: 0 !important;
}

h1.baseball {

  margin: 20px;
  text-align: center;
  color: #000066;
  padding-bottom: 5px;
  border-bottom: 2px solid #ffd700;
}

main.swbc {
  margin-top: 3rem;
}